/**
 * Layout Header
 *
 */
 
header {
	@extend .pos-r;
	
	.top-bar {
		padding: 15px 0;
	    border-bottom: 1px solid $cx-border-color;

	    p {
	    	font-size: 12px;
	    	@extend %mb0;
	    }
	}

    .header-area {
    	padding: 40px 0;
    }

    .logo {
    	text-align: center;
    }

    .header-cart-area {
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
    }

    &.white-scheme {
    	.top-bar p,
    	.list-inline-item .dropdown-toggle,
    	.header-search-area .header-search-btn i,
    	.header-cart button i {
    		@extend %color-white;
    	}

		#main_nav,
    	.top-bar {
    		border-color: rgba(255,255,255,.2);
    	}

    	.header-search-area {
    		input[type="text"] {
				@extend %bgc-transparent;
    		}
    	}

		::-webkit-input-placeholder{
		  color: #ebebeb;
		}
		::-moz-placeholder{
		  color: #ebebeb;
		}
		:-ms-input-placeholder{
		  color: #ebebeb;
		}
		:-moz-placeholder {
		  color: #ebebeb;
		}
    }

    &.bgc-secondary {
    	&.white-scheme {
			#main_nav,
	    	.top-bar {
	    		border-color: #303030;
	    	}

	    	.main-nav-area {
	    		&.sticky {
	    			background: rgba(31,30,31,.9);

	    			&:hover {
	    				background: rgba(31,30,31,1);
	    			}
	    		}
	    	}
    	}
    }

    &.header-type-2 {
    	z-index: 10;

    	.header-area {
    		padding-bottom: 15px;
    	}

		#main_nav {
			border-top: 0;
		}

    	.list-inline {
    		.dropdown-menu {
    			ul {
    				li {
    					a:hover,
    					a.current {
							@extend %bgc-transparent;
							@extend %color-primary;
    					}
    				}
    			}
    		}
    	}

    	.main-nav-area {
    		&.sticky {
    			background: rgba(209,169,133,.9);

    			&:hover {
    				background: rgba(209,169,133,1);
    			}
    		}
    	}
    }

    &.header-type-3 {
        .list-inline {
            .dropdown-menu {
                &.open {
                    max-height: 400px;
                }
            }

            .currency-menu,
            .language-menu {
                margin-top: 8px;
                padding-top: 12px;
                border-top: 1px solid $cx-border-color;

                h5 {
                    padding: 3px 10px;
                }

                ul {
                    border: 0;
                    margin: 0;
                    padding: 0;

                    a.current {
                        @extend %bgc-white;
                        @extend %color-primary;
                    }

                    a {

                    }
                }
            }
        }
    }

    &.header-type-4 {
    	.header-area {
    		padding: 32px 0;
    	}

    	.main-nav-area {
    		&.sticky {
    			background: rgba(31,30,31,.9);

    			&:hover {
    				background: rgba(31,30,31,1);
    			}
    		}
    	}

    	.logo {
    		text-align: left;
    	}

    	.header-text {
		    font-weight: 500;
		    font-size: 14px;
		    text-align: right;
		    @extend %color-secondary;

		    span {
			    padding-right: 15px;
			    margin-right: 15px;
			    font-weight: 400;
			    padding-top: 0;
			    border-right: 1px solid $cx-border-color;
		    }
    	}
    }
}