/**
 * Layout Main-menu
 *
 */
 
.main-nav-area {
    z-index: 99;
    @extend .pos-r;

    // &.transparent-nav {
    //     background: rgba(#fff, 0.1);
    //     @include media-only(notebook, max) {
    //         background: #434343;
    //     }
    // }

    &.nav-with-search {
        > .container {
            // display: flex;
            // align-items: center;
            @extend .pos-r;
        }

        .header-search-area {
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9901;
            @extend .pos-a;
        }

        button {
            @extend %color-white;
        }

        input {
            color: #ebebeb;
            @extend %bgc-transparent;;
        }

        // .stellarnav {
        //     flex: 1;
        // }

        ::-webkit-input-placeholder{
          color: #ebebeb;
        }
        ::-moz-placeholder{
          color: #ebebeb;
        }
        :-ms-input-placeholder{
          color: #ebebeb;
        }
        :-moz-placeholder {
          color: #ebebeb;
        }
    }

    &.sticky {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
        z-index: 9950;
	    background: rgba(#fff, 0.9);
        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
	    animation-name: fadeInDown;
	    animation-duration: 900ms;
	    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	    animation-delay: 0s;
	    animation-iteration-count: 1;
	    animation-direction: normal;
	    animation-fill-mode: none;
	    animation-play-state: running;
        @extend %cx-transition;

        &:hover {
        	background: #fff;
        }

        // .color-scheme-two & {
        //     background: rgba(#254672, 0.8);
        //     &:hover {
        //         background: #254672;
        //     }

        //     @include media-only(notebook, max) {
        //         background: #434343;
        //         &:hover {
        //             background: #434343;
        //         }
        //     }
        // }

        // .color-scheme-three & {
        //     background: rgba(#2b7fd0, 0.8);
        //     &:hover {
        //         background: #2b7fd0;
        //     }

        //     @include media-only(notebook, max) {
        //         background: #434343;
        //         &:hover {
        //             background: #434343;
        //         }
        //     }
        // }

        // .color-scheme-four & {
        //     background: rgba(#d44242, 0.8);
        //     &:hover {
        //         background: #d44242;
        //     }

        //     @include media-only(notebook, max) {
        //         background: #434343;
        //         &:hover {
        //             background: #434343;
        //         }
        //     }
        // }

        // @include media-only(notebook, max) {
        //     background: #434343;
        //     &:hover {
        //         background: #434343;
        //     }
        // }
    }

    // .color-scheme-one &,
    // .color-scheme-two &,
    // .color-scheme-three &,
    // .color-scheme-four & {
    //     @include media-only(notebook, max) {
    //         background: #434343;
    //         text-align: left;
    //         .menu-toggle {
    //             color: #fff;
    //             position: relative;
    //             cursor: pointer;
    //             padding-left: 0;
    //             padding-right: 0;
                
    //             &::after {
    //                 content: "\f078";
    //                 font-family: FontAwesome;
    //                 position: absolute;
    //                 right: 0;
    //                 top: 48%;
    //                 // transform: translateY(-50%);
    //                 height: 13px;
    //                 font-size: 12px;
    //                 margin-top: -6.5px;
    //                 color: #fff;
    //                 transition: all 0.3s ease-in-out;
    //             }
    //         }

    //         .stellarnav {
    //             &.active {
    //                 .menu-toggle {
    //                     &::after {
    //                         transform: rotate(180deg);
    //                     }
    //                 }
    //             }

    //             &.mobile {
    //                 > ul {
    //                     background: #434343;
    //                 }
    //             }
    //         }

    //         &.floating-nav {
    //             background: #434343;
    //         }
    //     }
    // }

    // @include cx-color(header, bg);
}