/**
 * Components Pagination
 *
 */

 .pagination-area {
 	margin: 30px 0 0;
    padding: 20px;
    min-height: 52px;
    border: 1px solid #e9e9e9;
    @extend %rounded-corners;

    @include media-only(small-mobile, max) {
    	padding: 15px;
    }

    .pagination {
    	line-height: 1;
    	margin: 0;

    	li {
    		a,
    		span {
			    border: none;
			    border-radius: 5px;
			    background: #f1f2f4;
			    font-size: 13px;
			    font-weight: 400;
			    padding: 0;
			    width: 28px;
			    height: 28px;
			    line-height: 28px;
			    margin: 0 5px;
			    text-align: center;
			    @include cx-default-color(color, black);

			    &:hover,
			    &:focus {
			    	box-shadow: none;
	    			@include cx-color(primary, bg);
	    			@include cx-color(primary, border);
	    			@include cx-default-color(color, white);
			    }

			    &:last-child {
			    	border-radius: 5px;
			    }

			    @include media-only(small-mobile, max) {
			    	width: 26px;
			    	height: 26px;
			    	line-height: 27px;
			    	// font-size: 12px;
			    	margin-right: 2px;
			    }
    		}
    		&.active {
				span {
					border-radius: 5px;
					cursor: default;
	    			@include cx-color(primary, bg);
	    			@include cx-color(primary, border);
	    			@include cx-default-color(color, white);
				}
    		}
    	}
    }

    .page-amount {
    	justify-content: flex-end;

    	@include respond-to(mobile) {
			justify-content: flex-start;
			margin-top: 15px;
    	}

    	p {
    		@extend %mb0;
    	}
    }
 }