/**
 * Components Section Title
 *
 */

.section-title {
    text-align: center;
    margin-bottom: 0.75 * $cx-section-spacing;

	h2 {
	    font-size: 30px;
	    line-height: 30px;
	    padding-bottom: 20px;
	    display: inline-block;
	    letter-spacing: -.05em;
	    text-transform: capitalize;
	    @extend .pos-r;
	    @extend %mb0;

	    &::before {
		    content: "";
		    display: block;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    text-align: center;
		    width: 50px;
		    height: 7px;
		    background: url('../images/icons/title.png');
		    @extend .pos-a;
	    }

	    @include respond-to(notebook) {
			font-size: 20px;
	    }

	    @include media-only(notebook, max) {
	    	font-size: 18px;
	    }
	}

    .subtitle {
    	margin-top: 20px;
    	font-size: 14px;
    	@extend %color-secondary;
    	@extend %mb0;
    }

    &.type-2 {
    	h2 {
			@extend %pb0;
    		@extend %mb0;
	    	&::before {
	    		content: none;
	    	}
	    }
    }

    &.left-aligned {
    	text-align: left;

    	h2 {
    		&::before {
    			margin-left: 0;
    		}
    	}
    }
}